*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.inputField{
    height: 50px;
    width: 200px;
}

.searchBtn{
    height: 50px;
    width: 80px;
    background-color: tomato;
    border-radius: 10px;
    border: none;
    outline: none;
}

.resultContainer{
    display:flex;
    margin: 20px 0;
}